name: Builds and deploys Python Sphinx documentation

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository content
        uses: actions/checkout@v4 # Checkout the repository content to github runner.
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.13      
      - name: Set up Python
        run: uv python install 3.13
      - name: Install dependencies
        run: uv sync --frozen
        shell: bash
      - name: Build sphinx
        run: uv run sphinx-build -M html docs/source docs/build
        shell: bash
      - name: Deploy to external repos
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
          publish_branch: gh-pages
          publish_dir: docs/build/html/